/*
    Fit for Fun Fitness Club
    Author: Nikki Collins
    Date:  2/9/21

    Filename: style.css
   */
/*removes all padding and margins*/
* {
  padding: 0;
  margin:0;
}

/*Side Navigation Bar*/
.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #404040;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 0px 6px 8px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/*keeps the main part of the body/table away from the side navigation*/
.main {
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 30px 10px;
  background-image: url("background.jpg");
  background-repeat:no-repeat;

}

body{
  background: url(makeAppt.jpg);
  background-color: #404040;
  background-size: cover;
  background-repeat: no-repeat;
}
footer{
  font-size: 16px;
  text-align: right;
  color:white;
}
/*-----------------------Classes Table-----------------------*/
table.classtable{
  background-color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}
.blue, .orange, .empty{
  background-color: white;
  width: 150px;
  height: 120px;
}
.allwkday{
  background-color: #b3b3b3;
  height: 40px;
  text-align: center;
  font-size: 16px;
}
.blue{
  border-left: solid;
  border-color: blue;
}
.orange{
  border-left: solid;
  border-color: orange;
}
.empty{
  background-color: #d9d9d9;
}

/*-----------------------style for info page-----------------------*/

form *, .script {
    padding: 5px;
    margin:5px;
}
form, .script{
  margin: 10px;
  background-color: #e6e6e6;
  padding: 0px 20px 10px 20px;
  border-radius: 10px;
}
h2, .script{
  text-align: center;
}

form h2, .script{
  padding-top: 30px;
}

.submit{
  margin: -35px 0px 5px 40%;
  padding: 10px 20px 10px 20px;
  width: initial;
  position: absolute;
  border-radius: 15px;

}
div.submit{
  position: relative;
}

label.cinfo{display:block; padding-bottom: 5px; position:relative;}
input.cinfo{position: absolute; left:10%; width:75%}

td.infotable{
  width: 20%;
  height: 27px;
}
table.infotable{
  height: 50px
}

.radio{
  width: 20%;
  position:inherit;
  display: inline;
  padding: 0;
  margin:0;
}
fieldset{
  padding: 20px 0px;
}


/*-----------------------------home page-----------------------*/
div.img{
  text-align: right;
}
img.shake{
  height: 700px;
  width:700px;
  display: inline-flex;
  margin-top:-75%
}
img.bench{
  height: 300px;
  width: 300px;
  margin-left: 160px;
}

h1.hph1{
  margin-left: 20px;
  padding: 10px;
  margin-bottom: 60px;
  font-size: 80px;
  text-decoration: underline;
  border-style: solid;
  border-width: thick;
  border-color: green;
  border-radius: 35px;
  color:green;
  width:580px;

}
h3.hph1{
  font-size: 60px;
}
p.hph1{
  font-family: 'Permanent Marker', cursive;
  margin: 10px;
  font-size: 20px;
  color: green;
}
div.hptext{
  margin: 60px 750px 10px 10px ;
  text-align: center;
}
.shake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.homepage{
  color: yellow;
}

/*----------------------------Thank you-------------------*/

.h2ty{
  padding: 10px;
  margin-bottom: 60px;
  font-size: 60px;
  text-decoration: underline;
  border-style: solid;
  border-width: medium;
  border-color: green;
  border-radius: 35px;
  color:green;
}
.script{
  text-align:left;
  margin-left: 20px;
}
